<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Here's what <%= @user.username %> has to say!</p>

  <% @tweets.each do |tweet| %>
    <p><%= tweet.text %> - <%= tweet.created_at %></p>
  <% end %>
</div>
