<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Here's what <%= @user %> has to say!</p>

<img id='paris_gif' src="http://24.media.tumblr.com/6bf0dc2118d8020652668585ddc179eb/tumblr_mn9wkaZLWl1softpoo1_400.gif">
 
<a id="tweets" href="javascript:void(0)">Click here for the tweets</a>
</div>
